.car_div{
    margin: 0;
    padding: 0;
    float: left;

}

.user_div{
    margin: 0;
    padding: 0;
    float: right;
}

th{
    padding: 20px;
    margin-left: auto;
    margin: 20px;
}

tr:hover{
    color: #2e6da4;
}

.main{
    margin: 10px;
    padding: 5px;
    font-size: 16px;
}


.adminCars .adminUsers  caption {
    /*font-weight: bold;*/
    color: #000;
    font-size: 22px;
}

.adminCars .adminUsers  {
    border: 2px solid #000;  /* граница всей таблицы */
    border-spacing: 3px;
}


.adminCars td {
    border: 2px solid #ccc;  /* границы между столбцами */
    border-spacing: 3px;
    margin: 5px; padding: 5px;
    width:50px;
    /*min-width:10px;*/
    white-space: nowrap;
    vertical-align: bottom;
    height: 30px;
}
.adminUsers td {
    border: 2px solid #ccc;  /* границы между столбцами */
    border-spacing: 3px;
    margin: 5px; padding: 5px;
    width:auto;
    min-width:10px;
    white-space: nowrap;
    vertical-align: bottom;
    height: 30px;
}

.user_div{
margin-top: 5px;
}

.h{
    color: #555555;
    font-weight: bold;
}

.addCar{
    margin: 15px;
    padding: 15px;
}