
.carInfo{
    /*margin: 20px;
    padding: 20px;*/
    margin-right: 20px;
    padding-right: 20px;
    width: 40%;
    height: 100%;
    float: left;
    font-size: 18px;
}
.carInfo table tr td {
    font-size: 18px;
    width: 400px;
}

.carCost{
    margin-right: 20px;
    padding-right: 20px;
    width: 20%;
    height: 100%;
    float: left;
}

.carCost button {
    size: 10px;
    width: 130px;
    height: 20px;
    /*background-color: #8c8c8c; */
    margin-top: 20px;
}

.carCost {
    width: 40%;
    height: 100%;
}

.d1 .d2 {
    float: left;
}
.t1 .t2 {
    float: right;
}

.carCostLabel {
    margin-bottom: 20px;
}

.carCostD1Label .carCostD2Label {
    width: 200px;

}