
.profileInfo{
    margin: 0;
    padding: 0;
    width: 40%;
    height: 100%;
    float: left;
}

.carsAll {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    float: right;
}

.carsAll table {
    border-width: 1px;
    border-color: #2b542c;
    background-color: snow;
}


.selectCar{
    margin: 0;
    padding: 0;
    width: 40%;
    height: 100%;
    float: right;
}

.selectCar table {
    border: 2px solid #000;  /* граница всей таблицы */
    border-spacing: 3px;
    border-spacing: 3px;
}

.selectCar table tr td a {
    /*display:block;*/
    height:100%;
    width:100%;
}

.selectCar caption {
    /*font-weight: bold;*/
    color: #000;
    font-size: 22px;
}
.selectCar tr {
    border: 1px solid #ccc;
    width: 100px;
    /* границы между строками */
}
.selectCar tr:hover {
    background: #1b6d85; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
    /* границы между строками */
}
.selectCar td, th {
    border: 2px solid #ccc;  /* границы между столбцами */
    width: 10%;
    vertical-align: bottom;
    height: 30px;
}


